@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #333;
    background-color:papayawhip
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.green {
    border: 2px solid greenyellow;
}

.red {
    border: 2px solid red;
}
